<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Site access</title>
</head>
<body>
<a href="https://youtube.com">youtube.com</a> <br/>
<a href="https://vk.com">vk.com</a><br/>
<a href="https://web.telegram.org">telegram</a> <br/> <br/>
<table border="1px">
    <tr>
        <th>Username:</th>
        <th>youtube</th>
        <th>vk</th>
        <th>telegram</th>
    </tr>
    <th:block th:each="user : ${allusers}">
        <form th:action="@{/usermanager}" th:object="${allusers}" method="post" >

        </form>
    </th:block>
    <tr>

    </tr>
</table>
</body>
</html>